/* Equiquetas */

body {
  background-color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Clases */

.afirmacion_div {
  padding: 10px;
  /*NT*/
  margin: 0px 12% 0px 12%;
  /*NT*/
  text-align: center;
  /*NT*/
  border: solid rgba(58, 116, 44, 0.863) 5px;
  /*NT, si cambiais el valor de los pixeles canviareis el grosor de la linea*/
  background-color: rgb(13, 204, 211);
  border-radius: 15px;
  font-size: 25px;
}

.Panel_Botones {
  padding: 25px;
}

.Marcador {
  display: inline-table;
  /*NT*/
  border: white solid 5px;
  margin: 5px;
  padding: 10px;
  color: aqua;
  border-radius: 15px;
}

/*Id*/

.Boton {
  margin-left: 50px;
  margin-right: 100px;
  border-radius: 15%;
  font-size: 18px;
  padding: 12px;
  border: solid;
}

#verdadero {
  background-color: greenyellow;
  border-color: green;
}

#falso {
  background-color: rgb(182, 34, 34);
  border-color: red;
}

.Notificacion {
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  font-size: 25px;
}

.Notificacion_correcta {
  background-color: greenyellow;
}

.Notificacion_incorrecta {
  background-color: red;
}

.Arriba {
  background-color: purple;
  margin: 5px;
  border-radius: 10px;
}

#botonVolverAJugar {
  margin-top: 5px;
}

#Notificacion_Centrada {
  text-align: center;
  margin-top: 70px;
}