/* Equiquetas */

body {}

/* Clases */

.afirmacion_div {
  padding: 10px;
  /*NT*/
  margin: 0px 12% 0px 12%;
  /*NT*/
  text-align: center;
  /*NT*/
  border: solid black 5px;
  /*NT, si cambiais el valor de los pixeles canviareis el grosor de la linea*/
}

.afirmacion_texto {}

.boton {}

.Panel_Botones {}

.Marcador {
  display: inline-table;
  /*NT*/
  border: black solid 5px;
  margin: 5px;
  padding: 10px;
}

.Texto_Marcador {}

/*Id*/

#verdadero {}

#falso {}

.Notificacion_correcta {
  background-color: green;
}

.Notificacion_incorrecta {
  background-color: red;
}

.Notificacion {
  text-align: center;
  padding: 10px;
}